[gui]
[user]
	name = Jason Gill
	email = [Depends on environment] 

[merge]
	ff = false

[pull]
	rebase = true

[grep]
	extendedRegexp = true

[core]
	excludesfile = /Users/jason/.gitignore_global	

[alias]
	alias = config --get-regexp ^alias\\.

	# -----------------------
	# basics 
	# -----------------------
	cl = clone
	ci = commit
	co = checkout

	pl = pull
	pr = pull --rebase
	pom = pull origin master

	pu = push
	fpu = push --force

	rc = rebase --continue
	ra = rebase --abort

	# -----------------------
	# reset / undo 
	# -----------------------
	undo = reset HEAD~1
	wipe = checkout -- .

	# -----------------------
	# branching
	# -----------------------
	b = branch -vv
	br = branch -vv
	brm = branch -d		# remove branch
	brmf = branch -D	# force remove branch
	cob = checkout -b
	com = checkout master

	# -----------------------
	# reports
	# -----------------------
	s = status --short --branch
	st = status
	l = log --pretty=format:'%C(auto)%h %d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --max-count=25
	ll = log --pretty=format:'%C(auto)%h %d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	llmine = log --pretty=format:'%C(auto)%h %d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --author='Jason Gill'
	lc = log --stat --summary

	# -----------------------
	# Client specific
	# -----------------------
	coub = "!f() { git checkout -b users/jason.gill/$1; }; f" 
	corb = "!f() { git checkout -b features/$1; }; f" 
	cofb = "!f() { git checkout -b releases/$1; }; f" 

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[filter "lfs"]	
	smudge = git-lfs smudge -- %f	
	process = git-lfs filter-process	
	required = true	
	clean = git-lfs clean -- %f
