" general
nnoremap ,e :<C-u>action SearchEverywhere<CR>
nnoremap ,f :<C-u>action GotoFile<CR>
nnoremap ,r :<C-u>action RecentFiles<CR>
nnoremap ,a :<C-u>action GotoAction<CR>
vnoremap ,a :<C-u>action GotoAction<CR>
nnoremap ,s :<C-u>action FileStructurePopup<CR>
nnoremap ,g :<C-u>action FindInPath<CR>
vnoremap ,g :<C-u>action FindInPath<CR>
nnoremap ,x :<C-u>action SelectIn<CR>
nnoremap ,b :<C-u>action build<CR>

" jump on code
nnoremap gt :<C-u>action GotoDeclaration<CR>
nnoremap gd :<C-u>action GotoDeclaration<CR>
nnoremap gi :<C-u>action GotoImplementation<CR>
nnoremap gs :<C-u>action GotoSuperMethod<CR>
nnoremap gb :<C-u>action Back<CR>
nnoremap gf :<C-u>action Forward<CR>
nnoremap gu :<C-u>action ShowUsages<CR>
nnoremap gc :<C-u>action JumpToLastChange<CR>

" code editing
nnoremap R :<C-u>action RenameElement<CR>
nnoremap q :<C-u>action ShowIntentionActions<CR>
nnoremap == :<C-u>action ReformatCode<CR>
vnoremap == :<C-u>action ReformatCode<CR>
nnoremap cc :<C-u>action CommentByLineComment<CR>
vnoremap cc :<C-u>action CommentByLineComment<CR>

" debugging / nav 
nnoremap =v :<C-u>action ShowBookmarks<CR>
nnoremap =b :<C-u>action ToggleBookmark<CR>
nnoremap =n :<C-u>action ToggleBookmarkWithMnemonic<CR>
nnoremap =s :<C-u>action ViewBreakpoints<CR>
nnoremap =d :<C-u>action ToggleLineBreakpoint<CR>

" tabs / editors
nnoremap tn :<C-u>action NextTab<CR>
nnoremap tp :<C-u>action PreviousTab<CR>
nnoremap ts :<C-u>action NextSplitter<CR>
nnoremap to :<C-u>action SplitVertically<CR> :<C-u>action MoveEditorToOppositeTabGroup<CR>
nnoremap tc :<C-u>action CloseContent<CR>
nnoremap tm :<C-u>action MoveEditorToOppositeTabGroup<CR>
nnoremap tu :<C-u>action Unsplit<CR>
nnoremap t[ :<C-u>action NextProjectWindow<CR>
nnoremap t] :<C-u>action PreviousProjectWindow<CR>
